# Various IDEs and Editors
.vscode/*
!.vscode/settings.json
.idea/
**/*~
*.iml

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# rust
target/

*.old.did

# frontend code
node_modules/
dist/