:root {
    --gf-main-bg-color: #f2f2f6;
    --gf-dark-bg-color: #000000;

    --gf-site-max-width: 1600px;
    --gf-site-min-width: 270px;

    --gf-skeleton-content-padding-vertical: 18px;
    --gf-skeleton-content-padding-horizontal: 16px;
}

html,
body,
#root,
.antdAppComponent {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--gf-main-bg-color);
}

body.gf-dark {
    background-color: var(--gf-dark-bg-color);
}

/**
==========================================
Skeleton
==========================================
*/

.antdAppComponent {
    display: flex;
    flex-direction: column;
    word-break: break-word;
}

/**
==========================================
Toolbar
==========================================
*/

.skToolbarRow {
    flex-shrink: 0;
}

.skToolbar {
    min-width: var(--gf-site-min-width);
    max-width: var(--gf-site-max-width);
    width: 100%;
    padding: var(--gf-skeleton-content-padding-vertical) var(--gf-skeleton-content-padding-horizontal);
    margin: 0 auto;
    align-items: center;
}

/**
==========================================
Banner
==========================================
*/

.skBanner {
    min-width: var(--gf-site-min-width);
    max-width: var(--gf-site-max-width);
    width: 100%;
    padding: calc(var(--gf-skeleton-content-padding-vertical) / 3) var(--gf-skeleton-content-padding-horizontal);
    margin: 0 auto;
}

/**
==========================================
Content
==========================================
*/

.skContentRow {
    flex-grow: 1;
}

.skContent {
    min-width: var(--gf-site-min-width);
    max-width: var(--gf-site-max-width);
    width: 100%;
    height: 100%;
    padding: var(--gf-skeleton-content-padding-vertical) var(--gf-skeleton-content-padding-horizontal);
    margin: 0 auto;
    display: flex;
}

/**
==========================================
Footer
==========================================
*/

.skFooterRow {
    flex-shrink: 0;
}

.skFooter {
    max-width: var(--gf-site-max-width);
    padding: 0 var(--gf-skeleton-content-padding-horizontal) var(--gf-skeleton-content-padding-vertical);
    text-align: center;
    margin: 0 auto 20px;
}

/**
==========================================
Content
==========================================
*/

.commonEntryPoint {
    min-width: var(--gf-site-min-width);
    width: 100%;
    padding: 0;
    margin: 0 auto;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .commonEntryPoint {
        padding: 0;
    }
}
